/*color classes*/
:root{
    --main-color: RGB(14, 207, 232);
    --main-sub-color:  RGB(212, 250, 252);
    --sub-color: RGB(137, 140, 139);
}
.bg-main{
    background-color: var(--main-color);
}
.bg-main-sub{
    background-color: var(--main-sub-color) !important;
}
.bg-sub{
    background-color: var(--sub-color);
}
.color-main{
    color: var(--main-color);
}
.color-sub{
    color: var(--sub-color);
}
html,
body,
header{
    height: 100%;
}

html{
    font-size: 16px;
    font-family: Arial Narrow, sans-serif;
}
#intro {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.main-body{
    height: 100vh;
}
.footer-links{
    color: var(--sub-color);
    font-weight: bold;

}